Source: gitea
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Michael Lustfield <michael@lustfield.net>
Build-Depends: debhelper (>= 10),
               dh-golang,
               fonts-octicons,
               golang-any,
               golang-barcode-dev,
               golang-code.gitea-git-dev (= 0.0~git20170321.0.5b41327-1),
               golang-code.gitea-sdk-dev,
               golang-etcd-dev,
               golang-etcd-server-dev,
               golang-ginkgo-dev,
               golang-github-alicebob-miniredis-dev,
               golang-github-blevesearch-bleve-dev,
               golang-github-blevesearch-go-porterstemmer-dev,
               golang-github-blevesearch-segment-dev,
               golang-github-boltdb-bolt-dev,
               golang-github-bradfitz-gomemcache-dev,
               golang-github-bsm-redeo-dev,
               golang-github-couchbase-moss-dev,
               golang-github-cupcake-rdb-dev,
               golang-github-davecgh-go-spew-dev,
               golang-github-denisenkom-go-mssqldb-dev,
               golang-github-dgrijalva-jwt-go-v3-dev,
               golang-github-elazarl-go-bindata-assetfs-dev,
               golang-github-facebookgo-clock-dev,
               golang-github-facebookgo-grace-dev,
               golang-github-facebookgo-httpdown-dev,
               golang-github-facebookgo-stats-dev,
               golang-github-go-ldap-ldap-dev,
               golang-github-go-macaron-bindata-dev,
               golang-github-go-macaron-binding-dev,
               golang-github-go-macaron-cache-dev,
               golang-github-go-macaron-captcha-dev,
               golang-github-go-macaron-csrf-dev,
               golang-github-go-macaron-gzip-dev,
               golang-github-go-macaron-i18n-dev,
               golang-github-go-macaron-inject-dev,
               golang-github-go-macaron-session-dev,
               golang-github-go-macaron-toolbox-dev,
               golang-github-go-sql-driver-mysql-dev,
               golang-github-go-xorm-builder-dev,
               golang-github-go-xorm-core-dev,
               golang-github-go-xorm-xorm-dev,
               golang-github-gogits-chardet-dev,
               golang-github-gogits-cron-dev,
               golang-github-golang-snappy-dev,
               golang-github-gopherjs-gopherjs-dev,
               golang-github-gorilla-pat-dev,
               golang-github-gorilla-securecookie-dev,
               golang-github-gorilla-sessions-dev,
               golang-github-issue9-identicon-dev,
               golang-github-jaytaylor-html2text-dev,
               golang-github-joho-godotenv-dev,
               golang-github-jtolds-gls-dev,
               golang-github-juju-errors-dev,
               golang-github-kisielk-gotool-dev,
               golang-github-klauspost-compress-dev,
               golang-github-klauspost-cpuid-dev,
               golang-github-klauspost-crc32-dev,
               golang-github-leemcloughlin-gofarmhash-dev,
               golang-github-lib-pq-dev,
               golang-github-lunny-log-dev,
               golang-github-lunny-nodb-dev,
               golang-github-markbates-goth-dev,
               golang-github-mattn-go-sqlite3-dev,
               golang-github-mcuadros-go-version-dev,
               golang-github-microcosm-cc-bluemonday-dev,
               golang-github-mrjones-oauth-dev,
               golang-github-msteinert-pam-dev,
               golang-github-nbutton23-zxcvbn-go-dev,
               golang-github-neelance-astrewrite-dev,
               golang-github-neelance-sourcemap-dev,
               golang-github-nfnt-resize-dev,
               golang-github-ngaut-deadline-dev,
               golang-github-ngaut-go-zookeeper-dev,
               golang-github-ngaut-log-dev,
               golang-github-ngaut-pools-dev,
               golang-github-ngaut-sync2-dev,
               golang-github-petar-gollrb-dev,
               golang-github-pingcap-check-dev,
               golang-github-pmezard-go-difflib-dev,
               golang-github-pquerna-otp-dev,
               golang-github-russross-blackfriday-dev,
               golang-github-satori-go.uuid-dev,
               golang-github-seiflotfy-cuckoofilter-dev,
               golang-github-sergi-go-diff-dev,
               golang-github-shurcool-sanitized-anchor-name-dev,
               golang-github-siddontang-go-dev,
               golang-github-siddontang-go-snappy-dev,
               golang-github-siddontang-goredis-dev,
               golang-github-siddontang-ledisdb-dev,
               golang-github-siddontang-rdb-dev,
               golang-github-smartystreets-assertions-dev,
               golang-github-smartystreets-goconvey-dev,
               golang-github-spf13-cobra-dev,
               golang-github-steveyen-gtreap-dev,
               golang-github-stretchr-testify-dev,
               golang-github-syndtr-goleveldb-dev,
               golang-github-twinj-uuid-dev,
               golang-github-ugorji-go-codec-dev,
               golang-github-unknwon-cae-dev,
               golang-github-unknwon-i18n-dev,
               golang-github-unknwon-paginater-dev,
               golang-github-urfave-cli-dev,
               golang-github-willf-bitset-dev,
               golang-github-yohcop-openid-go-dev,
               golang-golang-x-crypto-dev,
               golang-golang-x-net-dev,
               golang-golang-x-sync-dev,
               golang-golang-x-sys-dev,
               golang-golang-x-text-dev,
               golang-gomega-dev,
               golang-gopkg-alexcesaro-quotedprintable.v3-dev,
               golang-gopkg-asn1-ber.v1-dev,
               golang-gopkg-bufio.v1-dev,
               golang-gopkg-editorconfig-editorconfig-core-go.v1-dev,
               golang-gopkg-gomail.v2-dev,
               golang-gopkg-ini.v1-dev,
               golang-gopkg-jarcoal-httpmock.v1-dev,
               golang-gopkg-macaron.v1-dev,
               golang-gopkg-redis.v2-dev,
               golang-gopkg-testfixtures.v2-dev,
               golang-gopkg-yaml.v2-dev,
               golang-goprotobuf-dev,
               golang-strk.kbt-projects-go-libravatar-dev,
               libpam0g-dev
Standards-Version: 4.0.0
Homepage: https://github.com/go-gitea/gitea
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/gitea.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/gitea.git
XS-Go-Import-Path: code.gitea.io/gitea

Package: gitea
Architecture: any
Built-Using: ${misc:Built-Using}
Pre-Depends: debconf
Depends: adduser,
         git,
         gitea-common (= ${source:Version}),
         libcap2-bin,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: gogs
Description: Painless self-hosted git service
 Gitea is a self-hosted git service aiming to provide a full suite of
 features similar to Gitlab or Github. It aims to be light weight,
 feature rich, and easily maintained.
 .
 Features:
   * User dashboard:
     + Context switching (organization / current user)
     + Activity timeline
     + Repository list
   * Issues dashboard
   * Pull requests
   * Notification (web / email)
   * Repository types
     + Mirror
     + Normal
     + Migrated
   * Custom templates
   * TLS support
   * Detailed logging
   * Database support:
     + MySQL
     + PostgreSQL
     + SQLite3
     + MSSQL
   * Admin panel(s)
     + Repository/Organization/User management
     + Statisticts
     + Server status
     + System notices
   * Authentication sources:
     + OAuth
     + PAM
     + LDAP
     + SMTP
   * Multi-language support
   * Release management / issue (ticket) tracking
     + Milestones
     + Labels
     + Assign
     + Search / sort / filter
     + Comments / attachments
     + Pull requests
   * Project wiki
   * Per-project settings
 .
 Documentation: https://docs.gitea.io/en-US/

Package: gitea-common
Architecture: all
Multi-Arch: foreign
Built-Using: ${misc:Built-Using}
Depends: lsb-base (>= 3.0-6),
         libjs-clipboard,
         libjs-codemirror,
         libjs-emojify,
         libjs-highlight.js,
         libjs-jquery,
         libjs-pdf,
         octicons,
         pdf.js-common,
         ${misc:Depends}
Description: Painless self-hosted git service - common files
 Gitea is a self-hosted git service aiming to provide a full suite of
 features similar to Gitlab or Github. It aims to be light weight,
 feature rich, and easily maintained.
 .
 This package contains base configuration files used by all architectures.

Package: golang-code.gitea-gitea-dev
Architecture: all
Depends: debhelper (>= 10),
         dh-golang,
         fonts-octicons,
         golang-any,
         golang-barcode-dev,
         golang-code.gitea-git-dev (= 0.0~git20170321.0.5b41327-1),
         golang-code.gitea-sdk-dev,
         golang-etcd-dev,
         golang-etcd-server-dev,
         golang-ginkgo-dev,
         golang-github-alicebob-miniredis-dev,
         golang-github-blevesearch-bleve-dev,
         golang-github-blevesearch-go-porterstemmer-dev,
         golang-github-blevesearch-segment-dev,
         golang-github-boltdb-bolt-dev,
         golang-github-bradfitz-gomemcache-dev,
         golang-github-bsm-redeo-dev,
         golang-github-couchbase-moss-dev,
         golang-github-cupcake-rdb-dev,
         golang-github-davecgh-go-spew-dev,
         golang-github-denisenkom-go-mssqldb-dev,
         golang-github-dgrijalva-jwt-go-v3-dev,
         golang-github-elazarl-go-bindata-assetfs-dev,
         golang-github-facebookgo-clock-dev,
         golang-github-facebookgo-grace-dev,
         golang-github-facebookgo-httpdown-dev,
         golang-github-facebookgo-stats-dev,
         golang-github-go-ldap-ldap-dev,
         golang-github-go-macaron-bindata-dev,
         golang-github-go-macaron-binding-dev,
         golang-github-go-macaron-cache-dev,
         golang-github-go-macaron-captcha-dev,
         golang-github-go-macaron-csrf-dev,
         golang-github-go-macaron-gzip-dev,
         golang-github-go-macaron-i18n-dev,
         golang-github-go-macaron-inject-dev,
         golang-github-go-macaron-session-dev,
         golang-github-go-macaron-toolbox-dev,
         golang-github-go-sql-driver-mysql-dev,
         golang-github-go-xorm-builder-dev,
         golang-github-go-xorm-core-dev,
         golang-github-go-xorm-xorm-dev,
         golang-github-gogits-chardet-dev,
         golang-github-gogits-cron-dev,
         golang-github-golang-snappy-dev,
         golang-github-gopherjs-gopherjs-dev,
         golang-github-gorilla-pat-dev,
         golang-github-gorilla-securecookie-dev,
         golang-github-gorilla-sessions-dev,
         golang-github-issue9-identicon-dev,
         golang-github-jaytaylor-html2text-dev,
         golang-github-joho-godotenv-dev,
         golang-github-jtolds-gls-dev,
         golang-github-juju-errors-dev,
         golang-github-kisielk-gotool-dev,
         golang-github-klauspost-compress-dev,
         golang-github-klauspost-cpuid-dev,
         golang-github-klauspost-crc32-dev,
         golang-github-leemcloughlin-gofarmhash-dev,
         golang-github-lib-pq-dev,
         golang-github-lunny-log-dev,
         golang-github-lunny-nodb-dev,
         golang-github-markbates-goth-dev,
         golang-github-mattn-go-sqlite3-dev,
         golang-github-mcuadros-go-version-dev,
         golang-github-microcosm-cc-bluemonday-dev,
         golang-github-mrjones-oauth-dev,
         golang-github-msteinert-pam-dev,
         golang-github-nbutton23-zxcvbn-go-dev,
         golang-github-neelance-astrewrite-dev,
         golang-github-neelance-sourcemap-dev,
         golang-github-nfnt-resize-dev,
         golang-github-ngaut-deadline-dev,
         golang-github-ngaut-go-zookeeper-dev,
         golang-github-ngaut-log-dev,
         golang-github-ngaut-pools-dev,
         golang-github-ngaut-sync2-dev,
         golang-github-petar-gollrb-dev,
         golang-github-pingcap-check-dev,
         golang-github-pmezard-go-difflib-dev,
         golang-github-pquerna-otp-dev,
         golang-github-russross-blackfriday-dev,
         golang-github-satori-go.uuid-dev,
         golang-github-seiflotfy-cuckoofilter-dev,
         golang-github-sergi-go-diff-dev,
         golang-github-shurcool-sanitized-anchor-name-dev,
         golang-github-siddontang-go-dev,
         golang-github-siddontang-go-snappy-dev,
         golang-github-siddontang-goredis-dev,
         golang-github-siddontang-ledisdb-dev,
         golang-github-siddontang-rdb-dev,
         golang-github-smartystreets-assertions-dev,
         golang-github-smartystreets-goconvey-dev,
         golang-github-spf13-cobra-dev,
         golang-github-steveyen-gtreap-dev,
         golang-github-stretchr-testify-dev,
         golang-github-syndtr-goleveldb-dev,
         golang-github-twinj-uuid-dev,
         golang-github-ugorji-go-codec-dev,
         golang-github-unknwon-cae-dev,
         golang-github-unknwon-i18n-dev,
         golang-github-unknwon-paginater-dev,
         golang-github-urfave-cli-dev,
         golang-github-willf-bitset-dev,
         golang-github-yohcop-openid-go-dev,
         golang-golang-x-crypto-dev,
         golang-golang-x-net-dev,
         golang-golang-x-sync-dev,
         golang-golang-x-sys-dev,
         golang-golang-x-text-dev,
         golang-gomega-dev,
         golang-gopkg-alexcesaro-quotedprintable.v3-dev,
         golang-gopkg-asn1-ber.v1-dev,
         golang-gopkg-bufio.v1-dev,
         golang-gopkg-editorconfig-editorconfig-core-go.v1-dev,
         golang-gopkg-gomail.v2-dev,
         golang-gopkg-ini.v1-dev,
         golang-gopkg-jarcoal-httpmock.v1-dev,
         golang-gopkg-macaron.v1-dev,
         golang-gopkg-redis.v2-dev,
         golang-gopkg-testfixtures.v2-dev,
         golang-gopkg-yaml.v2-dev,
         golang-goprotobuf-dev,
         golang-strk.kbt-projects-go-libravatar-dev,
         libpam0g-dev,
         ${shlibs:Depends},
         ${misc:Depends},
Description: Painless self-hosted git service -- source
 Gitea is a self-hosted git service aiming to provide a full suite of
 features similar to Gitlab or Github. It aims to be light weight,
 feature rich, and easily maintained.
 .
 This package contains the source.
