#!/usr/bin/make -f
TAGS := sqlite pam

# PIE builds (-buildmode=pie) need -pkgdir (abs path ref)
GOPATH ?= $(CURDIR)/obj-$(DEB_TARGET_GNU_TYPE)
LDFLAGS = -X 'main.Tags=$(TAGS)' -extldflags=-Wl,-z,relro,-z,now
export GOPATH LDFLAGS TAGS


# This removes vendor/* and integrations/ without removing integrations/*/
# It re-creates dh-golang logic with these exceptions.
PACKAGES ?= $(addprefix code.gitea.io/gitea/,$(filter-out integrations,$(shell go list ./... | grep -v vendor/ | sed -n 's/^.*gitea\///p')))

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	python debian/helpers/swagger_build.py
	go install -v -p 4 \
		-buildmode=pie \
		-pkgdir="$(GOPATH)" \
		-ldflags="$(LDFLAGS)" \
		-tags="$(TAGS)" \
		code.gitea.io/gitea $(PACKAGES)

# Tests are broken by the debian build environment
override_dh_auto_test:
